.App {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5px;
}

.Task {
  border: 1px solid gainsboro;
  border-radius: 5px;

}

.tasks {
  overflow-y: auto;
  max-height: 350px;
}
